# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db

# Environment variables (keep your tokens safe!)
.env

# Virtual environments
venv/
.venv/
env/

# IDE / System
.vscode/
.idea/
Thumbs.db
